<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head') %> 
<body>
    <%- include('partials/header')  %> 
        <main>
            <h3 class="addedit">EDITANDO PRODUCTO: <%= product.name%> </h3>
        <form action="/products/editproduct/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="add-edit">
  
    <div class="form-control">
        <label for="">Nombre</label>
        <input type="text" name="name" value="<%= product.name%>" required>
    </div>
    <div class="form-control">
        <label for="">Categorias</label>
            <div class="checkbox"> 
                <label for="muebles" class="check"><input type="checkbox" name="category" id="muebles" class="check" value="muebles" <%= product.category.indexOf("muebles") != -1 ? "checked = true" : ""; %>>Muebles</label>
            </div>
            <div class="checkbox"> 
                <label for="decoracion" class="check" ><input type="checkbox" name="category" id="decoracion" class="check"value="decoracion" <%= product.category.indexOf("decoracion") != -1 ? "checked = true" : ""; %>>Decoración</label>
            </div>
            <div class="checkbox"> 
                <label for="viaje"class="check"><input type="checkbox" name="category" id="viaje" class="check"value="viaje" <%= product.category.indexOf("viaje") != -1 ? "checked = true" : ""; %>>Viaje</label>
            </div>
            <div class="checkbox"> 
                <label for="uso-personal"class="check"><input type="checkbox" name="category" id="uso-personal" class="check"value="uso-personal" <%= product.category.indexOf("uso-personal") != -1 ? "checked = true" : ""; %>>Uso personal</label>
            </div>
            <div class="checkbox"> 
                <label for="destacados"class="check"><input type="checkbox" name="category" id="destacados" class="check"value="destacados" <%= product.category.indexOf("destacados") != -1 ? "checked = true" : ""; %>>Destacados</label>
            </div>
        <div class="form-control">
            <label for="">Selecciona las imagenes para tu producto</label>
            <input type="file" name="image" accept=".png, .jpg, .jpeg" multiple value="<%= product.image%>">
            <span class="imgs">Solo acepta .png, .jpg, .jpeg</span>
        </div>
        <div class="form-control descripcion" >
        <label for="descripcion">Descripcion del producto</label>
        <textarea class="text-description" name="description" id="text-description"> <%= product.description%> </textarea>
        </div>
        <div class="form-control">
            <label for="">Medidas:</label>
            <input type="text" name="measurements" value="<%= product.measurements%>">
        </div>
        <div class="form-control">
            <label for="">Color</label>
            <select name="color" id="color">
                <option value="Blanco" <%= product.color == "Blanco" ? "selected" : ""; %>>Blanco</option>
                <option value="Negro"<%= product.color == "Negro" ? "selected" : ""; %>>Negro</option>
                <option value="Azul"<%= product.color == "Azul" ? "selected" : ""; %>>Azul</option>
                <option value="Amarillo"<%= product.color == "Amarillo" ? "selected" : ""; %>>Amarillo</option>
                <option value="Verde"<%= product.color == "Verde" ? "selected" : ""; %>>Verde</option>
                <option value="Naranja"<%= product.color == "Naranja" ? "selected" : ""; %>>Naranja</option>
                <option value="Rojo"<%= product.color == "Rojo" ? "selected" : ""; %>>Rojo</option>
                <option value="Rosa"<%= product.color == "Rosa" ? "selected" : ""; %>>Rosa</option>
                <option value="Violeta"<%= product.color == "Violeta" ? "selected" : ""; %>>Violeta</option>
                <option value="Dorado"<%= product.color == "Dorado" ? "selected" : ""; %>>Dorado</option>
                <option value="Lila"<%= product.color == "Lila" ? "selected" : ""; %>>Lila</option>
                <option value="Fucsia"<%= product.color == "Fucsia" ? "selected" : ""; %>>Fucsia</option>
            </select>
        </div>
        <div class="form-control">
            <label for="">Material</label>
            <input type="text" name="material" class="material" value="<%= product.material%>">
        </div>
        <div class="form-control">
            <label for="">Pais de origen</label>
            <input type="text" name="origin" class="origin" value="<%= product.origin%>">
        </div>
        <div class="form-control">
            <label for="">Precio</label>
            <input type="text" name="price" class="price" value="<%= product.price%>">
        </div>
        <div class="buttons">
        <button type="submit" class="enviar">EDITAR</button>
        <button type="reset" class="borrar">BORRAR</button> </div>
    </div>  
    
    </form>
    
    
    
    
       </main>


       <%- include('partials/footer')  %> 
    </body>
    </html>



