<!DOCTYPE html>
<html lang="en">
<%- include ('partials/head') %> 
<body>
    <%- include('partials/header')  %> 
    <main class="body-product">


        <div class="linea divisora">
            <h2 class="efecto-lineas"> ACÁ ESTAN TODOS TUS PRODUCTOS FAVORITOS </h2>
        </div> 
       
        
    
        <div class="menu-imagenes-favoritos"> 
           
            <div class="products">
                
                <% resultado.forEach(product => { %>
                    <div class="highlight-prod">
                        <a href="/products/<%= product.id %> " class="unit-product">
                        <img src="/img/productos/<%= product.img %>" width="200" alt="taza" class="producto_img"></a> 
                        <div class="precio-products">
                        <p>$<%= product.price%></p>
                        <p><%= product.name%></p>
                    </div>
                    </div>
                   <% }) %> 
                
                    </div>            
        </div>     
        
   </main>
   <%- include('partials/footer')  %> 
   
</body>
</html>
