<!DOCTYPE html>
<html lang="en">
<%- include ('partials/head') %> 
<body>
    <%- include('partials/header')  %> 
    <main class="cuerpo">
        
        <section class="visita">
            <h3>LISTADO DE PRODUCTOS</h3>
        </section>
    
        <div class="menu-imagenes"> 
            <section class="menu-lateral">
                <div class="linea-producto">
                    <p>Categorias</p>
                </div>
                <div>
                    <ul class="menu-productos">
                        <li><a href="./products">Muebles</a></li>
                        <li><a href="./products">Decoracion</a></li>
                        <li><a href="./products">Uso personal</a></li>
                        <li><a href="./products">Viajes</a></li>
                        
                    </ul>
                </div>
            </section>
            <section class="visita">
                <% mostrar.forEach(product => { %>

                
                    <div class="products">
                    
                        <article class="product">
                        <a href="./products/<%= product.id %> " class="unit-product">
                        <img src="/img/productos/<%= product.image %>" width="360" alt="taza" class="producto_img"></a>
                        <div class="specs">
                            <div>Nombre: <%=product.name%> </div>
                            <div>Categoria: <%=product.category%></div>  
                            <div>Medidas: <%=product.measurements%></div>
                            <div>Color:<%=product.color%></div>
                            <div>Material:<%=product.material%></div>
                            <div>Origen: <%=product.origin%></div>
                            <div>Precio: <%=product.price%></div>
    
                        </div>
                        
                   <% }) %>      
                
                    
                </section>
    
                
            </div>
            </section>

            
        </div>
        
   </main>
   <%- include('partials/footer')  %> 
   
</body>
</html>

