<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head') %> 
<body>
    <%- include('partials/header')  %> 

        <main class="userprof"> 
            <h3 class="username">Hola <%= user.name %>!  </h3>
            <form action="">    
                <div class="img-data"><img src="/img/avatars/<%= user.avatar %>" alt="avatar de usuario">
                    
                <div class="user-info">
                   
                    <div class="form-control">
                    <label for="">Nombre</label>
                    <input type="text" name="name" value=<%= user.name %>>
                    </div>
            
                    <div class="form-control">
                    <label for="">Apellido</label>
                    <input type="text" name="lastname" value=<%= user.lastname %>>
                    </div>

                    <div class="form-control">
                    <label for="">Email</label>
                    <input type="email" name="email" value=<%= user.email %>>
                     </div>

                    <div class="form-control">
                    <label for="">Fecha de nacimiento</label>
                    <input type="date" name="dob" value=<%= user.dob %>>
                    </div>
                          
                
                    <div class="form-control">
                    <label for="">Contraseña</label>
                    <input type="password" name="password">
                    </div>
                    <button type="submit" class="enviar">EDITAR</button>
                    </form>         
        </main>


        <%- include('partials/footer')  %> 
       
    </body>
    </html>